<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <style>
        /* CSS rules */
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
            background-image: url(https://wallpaperset.com/w/full/9/d/5/172760.jpg);
        }

        .login-container {
            text-align: center;
            background-color: pink;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            color: RED;
        }

        .input-group {
            margin-bottom: 20px; /* Increase spacing between input groups */
            text-align: left;
        }

        input[type="text"],
        input[type="password"] {
            width: 300px; /* Increase width of input fields */
            padding: 12px; /* Increase padding for better size */
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        input[type="submit"] {
            background-color: blueviolet;
            color: white;
            border: none;
            padding: 15px 30px; /* Increase padding for better size */
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <div class="login-container">
    <h2>Forgot Password</h2>
    <form action="/forgot-password" method="post">
        <div class="input-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="input-group">
            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" required>
        </div>
        <input type="submit" value="Reset password">
    </form>
    {{#if errorMessage}}
    <p style="color: red;">{{errorMessage}}</p>
    {{/if}}
    </div>
</body>
</html>
