<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
            background-image: url("https://wallpaperaccess.com/full/1265340.jpg");
        }

        .login-container {
            text-align: center;
            background-color: rgb(93, 210, 237);
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            color: rgb(201, 17, 100);
        }

        .input-group {
            margin-bottom: 20px; 
            text-align: left;
        }

        input[type="text"],
        input[type="password"] {
            width: 300px; 
            padding: 12px; 
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        input[type="submit"] {
            background-color: rgb(223, 125, 188);
            color: white;
            border: none;
            padding: 15px 30px; 
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <div class="login-container">
        <h2>ADMIN LOGIN</h2>
        <form action="/login" method="post">
            <div class="input-group">
                <label for="name">   Name  :</label>
                <input type="text" id="name" name="name" placeholder="Enter your name" required>
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>
